{
  "extends": "./node_modules/eslint-config-moment/index.js",

  "plugins": ["angular"],

  "ecmaFeatures": {
    "globalReturn": true,
    "jsx": true,
    "modules": true
  },

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true,
    "angular": true
  },

  "parser": "babel-eslint",

  "rules": {
      // Needed for angular
      "no-use-before-define": 0,
      // Needed for angular
      "no-unused-vars": 0,
      "angular/log": 0,
      // Disabled this since we uses classes for services
      // http://www.michaelbromley.co.uk/blog/350/exploring-es6-classes-in-angularjs-1-x%20nice
      "angular/no-service-method": 0
  }
}
